.page {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  .editor {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 4rem);
    

    .article-container {
      display: flex;
      width: calc(100%);
      transition: all 0.3s ease-in-out;
      overflow-y: scroll;
      justify-content: center;

      &.playbook-open {
        width: calc(100% - 23rem);
      }

      .article-selector-button {
        position: absolute;
        left: 4rem;
        height: auto;
        background: black;
        width: 5rem;
      }



      article {
        width: 47.5rem;
        padding: 3.75rem;
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        text-justify: inter-word;

        &:focus-visible {
          outline: 0;
        }
        .header {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          transition: all 0.4s ease ;
          max-height: 10rem;

          &.hide {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
          }
          .column-left, .column-right {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            align-content: flex-end;

            span {
              width: 100%;
              margin-bottom: 1rem;
            }

            img {
              height: 8rem;
              margin-left: auto;
            }
          }

          hr {
            border: 0;
            border-bottom: 1px solid var(--robin-blue);
            width: 100%;
            margin-top: 1rem;
          }
        }

        .title-page {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          height: calc(100vh - 7.75rem);
          align-content: center;

          &.employment {
            padding-bottom: 6rem;
          }
      

          p {
            display: flex;
            justify-content: center;
            width: 100%;
            
            strong {
              font-weight: 700;
            }
          }
          hr {
            border: 0;
            border-bottom: 1px solid var(--robin-blue);
            width: 75%;
            margin-top: 1rem;
          }
        }


        h1 {
          width: 100%;
          text-align: left;

          span {
            font-size: inherit;
          }
        }

        strong {
          font-weight: 700;
        }

        .full-width {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .table {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          margin-top: 1rem;

          .row {
            width: 100%;
            display: flex;

            .cell {
              padding: 1.5rem 1rem 1.5rem 0;
              text-align: left;
              &.third {
                  width: calc(100% / 3);

              }
              &.two-thirds {
                width: calc((100% / 3) * 2);                
              }
              &.half {
                width: calc(100% / 2);
              }

              .signature {

                display: flex;
                flex-wrap: wrap;
                * {
                  width: 100%;
                  display: flex;
                }

                hr {
                  border: 0;
                  border-bottom: 1px dotted var(--robin-blue);
                  margin-block-end: 0;
                }

                .placeholder {
                  width: auto;
                }
              }
            }
          }
        }

        span.placeholder {
          background: #E6E9F1;
          transition: all 0.3s ease;
          cursor: pointer;

          &.hidden {
            background: #fff;
          }

          &.focused {
            background: #B8E5F9;
            position: relative;

            &:after {
              position: absolute;
              content: "";
              height: 2.5rem;
              width: 2.5rem;
              background: #ccd3e4;
              box-shadow: 0px 2px 4px 0px #00000066;
              top: -3.125rem;
              left: 25%;
              border-radius: 50%;
              background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3IDNDMTcuMjYyNiAyLjczNzM1IDE3LjU3NDQgMi41MjkwMSAxNy45MTc2IDIuMzg2ODdDMTguMjYwOCAyLjI0NDczIDE4LjYyODYgMi4xNzE1NyAxOSAyLjE3MTU3QzE5LjM3MTQgMi4xNzE1NyAxOS43MzkyIDIuMjQ0NzMgMjAuMDgyNCAyLjM4Njg3QzIwLjQyNTYgMi41MjkwMSAyMC43Mzc0IDIuNzM3MzUgMjEgM0MyMS4yNjI2IDMuMjYyNjQgMjEuNDcxIDMuNTc0NDQgMjEuNjEzMSAzLjkxNzZDMjEuNzU1MyA0LjI2MDc3IDIxLjgyODQgNC42Mjg1NiAyMS44Mjg0IDVDMjEuODI4NCA1LjM3MTQzIDIxLjc1NTMgNS43MzkyMyAyMS42MTMxIDYuMDgyMzlDMjEuNDcxIDYuNDI1NTUgMjEuMjYyNiA2LjczNzM1IDIxIDdMNy41IDIwLjVMMiAyMkwzLjUgMTYuNUwxNyAzWiIgZmlsbD0iI0Q2REVFRiIgc3Ryb2tlPSIjMkEzNDRGIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }

        span.labelled {
          position: relative;
          transition: 0.3s ease;

          &.active {
            background: #CCD3E4;
          }
          
          button.label {
            position: absolute;
            left: -2.875rem;
            height: 2.25rem;
            width: 2.25rem;
            bottom: 0.75rem;
            justify-content: center;

            img {
              width: 1.25rem;
              height: 1.25rem;
              pointer-events: none;
            }

            &.hidden {
              display: none;
            }
          }

          .redline {
            position: relative;
            &:after {
              position: absolute;
              left: -6.5rem;
              background: #BA0000;
              width: 0.125rem;
              height: 100%;
              content: "";
              bottom: 0;
            }
          }
        }

          .preview-label-menu {
            position: absolute;
            bottom: 2.75rem;
            left: -2.875rem;

            button {
              filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
              transition: 0.4s ease;
              animation: loadIn 0.4s ease;

            }

            .label-button-group {
              display: flex;
              margin-bottom: 0.75rem;
              filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));

              button {
                flex-shrink: 0;
                filter: none;

                &:nth-child(1) {
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  border-right: 0.0625rem solid #fff;
                }
                &:nth-child(2) {
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                }

                img {
                  margin-right: 0.625rem;
                }
              }
          }
        }
        ol {

            counter-reset: item;
            margin-bottom: 1.5rem;

            li {
              display: block;
              margin-bottom: 0.625rem;
              margin-top: 0.625rem;
              position: relative;

              &:before {
                content: counters(item, ".") "";
                counter-increment: item;
                left: -1.25rem;
                position: absolute;
              }

              li {
                &:before {
                  left: -2rem;
                }
              }
          }  
          &[type=a] {

            counter-reset: list;
            li {
    

              &:before {
                counter-increment: list;
                content: "(" counter(list, lower-alpha) ")";
                left: -1.75rem;
                padding-right: 1rem;
              }
            }
          }
          &[type=a-dot] {

            counter-reset: list;
            li {
    

              &:before {
                counter-increment: list;
                content: "" counter(list, lower-alpha) ".";
                left: -1.75rem;
                padding-right: 1rem;
              }
            }
          }
        }
      }

      .spacer {
        height: 10rem;
        width: 100%;
      }
    }
    aside {
      width: 23rem;
      border-left: 0.0625rem solid var(--robin-blue);
      transition: all 0.3s ease-in-out, height 0s;
      opacity: 0;
      padding: 0.75rem;
      position: fixed;
      overflow-y: scroll;
      height: calc(100vh - 4rem);
      right: -23rem;
      background: #fff;

      &.open {
        opacity: 1;
        right: 0;
      }



      .playbook-container {
        display: flex;
        width: 100%;
        padding: 0 0.75rem;
        flex-wrap: wrap;
        
        .playbook-settings {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;

          .button-container {
            display: flex;
            align-items: center;

            button {
              margin: 0;
  
              img {
                margin-left: 0.5rem;
              }
  
              &.text {
                margin-left: 1rem;
  
                img {
                  margin-left: 0;
                }
              }
            }

          }
        }

        .header-fields {
          max-height: 18rem;
          transition: all 0.4s ease;
          &.hidden {
            max-height: 0;
            opacity: 0;
            overflow: hidden;

          }
        }

        hr {
          width: 100%;
          border: 0;
          border-bottom: 0.0625rem solid #e6e6e6;
          margin: 1rem 0;
        }
        
        .error-container {
          margin-bottom: 1.25rem;

          .flex-row {
            flex-wrap: wrap;

            label {
              width: 100%;
              margin: 0.75rem 0 0.5rem 0 ;
            }
    
            input {
              width: 100%;
              border: 0.0625rem solid var(--robin-blue);
              height: 2.5rem;
              border-radius: 0.25rem;
              padding: 0 0.75rem;
            }
          }
        }
        
       

        .playbook-accordions {
          margin-top: 1rem;

          .MuiAccordion-root {
            box-shadow: none;
            color: var(--robin-blue);
            margin-bottom: 0.25rem;

            &:before {
              background: none;
            }

            &.Mui-expanded {
              margin: 0;
            }

            .MuiAccordionSummary-root {
              min-height: 2.5rem;
              background: rgba(230, 233, 241, 0.4);
              border-radius: 2rem;
              padding: 0.5rem 0.625rem;

              &.Mui-expanded {
                margin: 0;
                background: #D6DEEF;
              }

              .MuiAccordionSummary-content {
                margin: 0;
                display: flex;
                align-items: center;

                .count {
                  width: 2rem;
                  height: 1.5rem;
                  background: white;
                  font-weight: 700;
                  margin-right: 0.875rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 1rem;
                }

                p {
                  margin-block-start: 0;
                  margin-block-end: 0;
                  font-weight: 700;
                }


              }
            }

            .MuiCollapse-root {

              .MuiAccordionDetails-root {
                padding: 0;

                .recommendation, .issue {
                  padding: 0.75rem 1rem;
                  background: rgba(230, 233, 241, 0.4);
                  border-radius: 0.5rem;
                  margin-top: 0.5rem;
                  transition: all 0.3s ease;

                  &.button {
                    cursor: pointer;
                    &:hover {
                      background: #E6E9F1;
                    }
                  }

                  ul {
                    padding-inline-start: 1.125rem;
                    margin-block-start: 0.5rem;
                    margin-block-end: 0.25rem;

                    li {
                      &:not(:last-of-type) {
                        margin-bottom: 0.5rem;
                      }
                    }
                  }

                  button.live-suggestion {
                    border: 0;
                    background: none;
                    text-align: left;
                    padding: 0;
                    cursor: pointer;

                  }

                  p {
                    margin-block-start: 0;
                    margin-block-end: 0;

                    &:nth-child(n+3) {
                      margin-top: 0.5rem;
                    }

                    &.title {
                      margin-bottom: 0.25rem;
                      font-weight: 700;
                    }
                  }
                }

                .issue {
                  background: #fff;
                  margin-top: 0;
                  margin-bottom: 0.25rem;
                }

                .advisory {
                  display: flex;
                  align-items: center;
                  padding: 0 1rem;
                  margin-bottom: 1.25rem;

                  .advisory-circle {
                    width: 1.25rem;
                    height: 1.25rem;
                    border-radius: 50%;
                    border: 0.125rem solid var(--robin-blue);
                    margin-right: 0.625rem;

                    &.Green {
                      background: var(--success)
                    }

                    &.Amber {
                      background: var(--warning)
                    }

                    &.Red {
                      background: var(--error)
                    }
                  }
                  p {
                    font-weight: 700;
                    margin-block-start: 0;
                    margin-block-end: 0;
                  }
                }


              }

            }

          }

        }

      }

    }
  }
}

@keyframes loadIn {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}
