.error-container {
  flex-wrap: wrap;
  width: 100%;

  .flex-row {
    display: flex;
    align-items: center;


    &.vertical {
      flex-wrap: wrap;


      label {
        margin-bottom: 0.5rem;
        margin-top: 1.125rem;
        width: 100%;
      }
    }

    label {
      width: 5rem;
      margin-right: 1rem;
      font-weight: 700;
    }

    input {
      background: #fff;
      border: 0.0625rem solid var(--robin-blue);
      border-radius: 0.25rem;
      width: 100%;
      height: 2.5rem;
      display: flex;
      align-items: center;
      padding: 0 0.75rem;
      max-width: 25rem;

      &.error {
        outline: 0.125rem solid var(--error);
      }
    }  
  }
  p {
      margin-left: 6rem;
      margin-block-start: 0.5rem;
      margin-block-end: 0;
  }
}
