.error-container {
  flex-wrap: wrap;
  width: 100%;

  .flex-row {
    display: flex;
    align-items: center;


    &.vertical {
      flex-wrap: wrap;


      label {
        margin-bottom: 0.5rem;
        margin-top: 1.125rem;
        width: 100%;
      }

    }

    label {
      width: 5rem;
      margin-right: 1rem;
      font-weight: 700;
    }

    .label-explainer {
      color: var(--subtext);
      margin-left: 0;
      margin-block-start: 0;
      margin-block-end: 0.75rem;
    }

    input {
      background: #fff;
      border: 0.0625rem solid var(--robin-blue);
      border-radius: 0.25rem;
      width: 100%;
      height: 2.5rem;
      display: flex;
      align-items: center;
      padding: 0 0.75rem;
      max-width: 25rem;

      &.error {
        outline: 0.125rem solid var(--error);
      }

      &:focus-within {
        outline: 4px solid #B8E5F9;
      }

      &[type="date"] {
        position: relative;

        &:after {
          content: "";
          height: 1.5rem;
          width: 1.5rem;
          background-repeat: no-repeat; 
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z' stroke='%232A344F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 10H21' stroke='%232A344F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V6' stroke='%232A344F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2V6' stroke='%232A344F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }

        &::-webkit-calendar-picker-indicator {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: auto;
          height: auto;
          color: transparent;
          background: transparent;
        }

        &::-webkit-inner-spin-button {
          z-index: 1;
        }
        &::-webkit-clear-button {
          z-index: 1;
        }
      }
    }
    textarea {
      width: 100%;
      padding: 0.75rem;
    }  
  }
  p {
      margin-left: 6rem;
      margin-block-start: 0.5rem;
      margin-block-end: 0;
  }
}
