button {
  &.cta {
    border-radius: 2rem;
    border: 0;
    height: 2.5rem;
    padding: 0 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.125px;
    transition: background 0.3s ease;
    flex-shrink: 0;

    &:disabled, &[disabled] {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  img {
    width: 1.25rem;
    height: 1.25rem;
  }

    span {
    &.material-icons {
      font-size: 1.25rem;
      color: inherit;
      margin-left: 0.25rem;
      transition: 0.3s ease;
      transform: translate(0, 0.0625rem);
    }
  }

  &.primary {
    background: var(--electric-blue);
    color: #fff;

    &:hover {
      background: #0A39A7;
    }
    &:active {
      background: #002B90;
    }
  }
  &.secondary {
    background: #fff;
    border: 0.0625rem solid var(--robin-blue);
    color: var(--robin-blue);

    &:hover {
      background: #E6E9F1;
    }
    &:active {
      background: #CCD3E4;
    }

    &.bold, &.italic, &.underline {

      border: 0;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 0.25rem;
      justify-content: center;
    }

    &.italic {
      font-style: italic;
      font-weight: 400;
    }

    &.underline {
      text-decoration: underline;
      font-weight: 400;
    }
  }
  &.tertiary {
    background: rgba(230, 233, 241, 0.4);
    color: var(--robin-blue);

    &:hover {
      background: #E6E9F1;
    }
    &:active {
      background: #D6DEEF;
    }
  }
  &.text {
    background: #fff;
    padding: 0;
    color: var(--electric-blue);
    background: none;
    border-radius: 0;

    &:hover {
      background: none;
    }

    &.menu-item {
      color: var(--robin-blue);
      width: 100%;
      padding: 0.5rem 0.75rem;
      min-height: 2.5rem;
      height: auto;
      text-align: left;

      &:last-child {
        border-bottom-left-radius: 0.125rem;
        border-bottom-right-radius: 0.125rem;
      }

      &:hover {
        background: rgba(230, 233, 241, 1);
      }
    }
  }

}