.error-container {

  margin-bottom: 0;
  width: auto;

.flex-row {
  label {

    &.toggle {
    margin-right: 0.75rem;
      color: var(--electric-blue);
      font-weight: 700;
      display: flex;
      align-items: center;
      margin-right: 1rem;
      cursor: pointer;
      content: "";
      width: auto;
    }
  
  
  .switch {
    position: relative;
    display: inline-block;
    width: 2.75rem;
    height: 1.5rem;
    margin-left: 0.75rem;
  
    input { 
      opacity: 0;
      width: 0;
      height: 0;
  
      &:checked + .slider {
        background-color: rgba(0, 90, 212, 1);
      }
  
      // &:focus + .slider {
      //   box-shadow: 0 0 1px rgba(0, 90, 212, 1);
      // }
  
      &:checked + .slider:after {
        -webkit-transform: translateX(1.125rem);
        -ms-transform: translateX(1.125rem);
        transform: translateX(1.125rem);
      }
  
      // &:checked + .slider:before {
      //   content: "Hide Clean Version";
      // }
    }
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(230, 233, 241, 0.4);
      box-shadow: 0px 2px 2px -1px rgba(74, 74, 104, 0.1) inset;
      -webkit-transition: .4s;
      transition: .4s;
  
      &.round {
        border-radius: 34px;
  
        &:after {
          border-radius: 50%;
        }
      }
  
      // &:before {
      //   content: "Show Clean Version";
      //   position: absolute;
      //   height: 1rem;
      //   width: auto;
      //   z-index: 29;
      //   left: -8.5rem;
      // }
  
      &:after {
          position: absolute;
          content: "";
          height: 1.125rem;
          width: 1.125rem;
          left: 0.25rem;
          bottom: 0.1875rem;
          background-color: white;
          box-shadow: 0px 5.5px 5px -3px rgba(14, 14, 44, 0.2);
          -webkit-transition: .4s;
          transition: .4s;
        }
      }
    }
  }

}

}
