div.alert-bar {
  position: fixed;
  bottom: 2rem;
  display: flex;
  background: pink;
  align-items: center;
  padding: 1rem 3.5rem 1rem 1.5rem;
  border-radius: 3rem;
  z-index: 2;
  transition: all 0.5s ease;
  animation: slideIn 0.5s forwards ease;
  left: 50%;


  &.close {
    animation: slideOut 0.5s forwards ease;
  }
    button {
      background: none;
      position: absolute;
      right: 0.5rem;
      height: 3rem;
      width: 3rem;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      cursor: pointer;
  }
}

@keyframes slideIn {
  from {
    transform: translate(-50%, 6rem);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 6rem);
    opacity: 0;
  }
}