.page {
  display: flex;
  justify-content: center;

  .contract-hub {
    width: 50rem;
    margin-top: 5rem;

    table {
      &.MuiTable-root {

        thead {
          tr {
            th {
              border-bottom: 0.0625rem solid #000;
              padding: 0.5rem 0;
            }
          }
        }
      
        tbody {
          tr {


            &.default-row {
            height: 3.5rem;
        
            td {
              padding: 0.25rem 0;
        
              &:nth-child(1) {
                width: 2rem;
              }
        
              &:nth-child(2) {
                width: 20rem;
              }
              &:nth-child(3) {
                width: 11.25rem;
              }
              &:nth-child(4) {
                width: 6.5rem;
              }
              &:nth-child(5) {
                width: 1.5rem;
              }
        
        
              .nda-seed {
                background: #CCD3E4;
                padding: 0.25rem 0.5rem;
                width: fit-content;
                border-radius: 1rem;
                height: 2rem;
                display: flex;
                align-items: center;
              }
            }
          }
        
          }
        }
        
      }
    }
  }
}


