

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;

  aside {

    display: none;
    position: relative;
    overflow: hidden;
    background: linear-gradient(315deg, #0a39a7, #005ad4);
    background-size: 400% 400%;
    -webkit-animation: Blue-Background-Animation 9s ease infinite;
    -moz-animation: Blue-Background-Animation 9s ease infinite;
    animation: Blue-Background-Animation 9s ease infinite;

    @media (min-width: 1280px) {
      width: 50%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .statement {
      display: flex;
      width: 100%;
      align-items: center;
      
      @media (min-width: 1920px) {
        padding: 0 8rem;
      }

      p {
        font-weight: 900;
        font-size: 5rem;
        line-height: 1.125;
        max-width: 37.5rem;
        padding: 0 4.25rem;
        color: #fff;
        animation: load-in 1.5s forwards;

        @media (min-width: 1440px) {
              font-size: 6.5rem;
        }
      }
    }

    .bird-ledge {
      width: calc(100% - 8.5rem);
      margin-top: 4.25rem;
      margin-bottom: 4.25rem;
      position: absolute;
      bottom: 0;
      margin-left: 4.25rem;
      z-index: 1;

      hr {
        margin-top: -0.125rem;
        margin-bottom: 0;
        border: 0.0625rem solid #fff;
      }
    }
  }

  main {
    width: 100vw;
    position: relative;

    @media (min-width: 1280px) {
      width: 50%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .login {
      display: flex;
      width: 100%;
      align-items: center;
      height: 100%;
      justify-content: center;
      padding: 2rem;
      
      @media (min-width: 1280px) {
        margin-top: unset;
        padding: 4.25rem;
      }

      .dummy-content {
        width: 100%;
        max-width: 25.25rem;
        animation: load-in 1.5s forwards;

        p {
          margin-block-start: 0.5rem;
          margin-block-end: 0.5rem;
        }

        .form-container {

          .remember-submit {
            display: flex;
            justify-content: space-between;
            margin: 1.25rem 0;
          }


          button {
            width: 100%;
            justify-content: center;
          }
        }

      }
    }


    .bird-ledge {
      z-index: -1;
      width: calc(100% - 4rem);
      margin-top: 4.25rem;
      margin-bottom: 4.25rem;
      position: absolute;
      bottom: 0;
      margin-left: 2rem;

      @media (min-width: 1280px) {
        display: none;
      }

      svg {
        display: flex;
        margin-left: auto;
      }

      hr {
        margin-top: -0.125rem;
        margin-bottom: 0;
        border: 0.0625rem solid rgb(42, 52, 79);
      }
    }
  }

}





// label.input {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 1.25rem;
//   position: relative;
// }

// label.input span {
//   width: 100%;
//   font-weight: 700;
// }

// label.input input {
//   margin-top: 0.5rem;
//   height: 2.5rem;
//   width: 100%;
//   border-radius: 0.25rem;
//   border: 0.0625rem solid rgb(42, 52, 79);
// }

// label.input button {
// position: absolute;
//     right: 0;
//     bottom: 0;
//     height: 2.5rem;
//     border: 0;
//     background: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 2.5rem;
// }

// label.checkbox input[type="checkbox"] {
//   height: 1.25rem;
//   width: 1.25rem;
//   margin: 0;
// }


// .remember-submit {
//   display: flex;
//   justify-content: space-between;
//   height: 1.75rem;
//   align-items: center;
//   margin-top: 1.25rem;
// }

// .remember-submit > div {
//   display: flex;
//   align-items: center;
// }

// label.checkbox {
//   display: flex;
//   align-items: center;
// }

// label.checkbox span {
//   margin-left: 0.5rem;
//   font-weight: 700;
//   color: #005ad4;
// }

// .remember-submit a {
//   color: #005ad4;
// }

// button.sign-in {
//   width: 100%;
//   height: 2.5rem;
//   background: #005ad4;
//   margin-top: 1.25rem;
//   border: 0;
//   border-radius: 10rem;
//   color: #fff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: 700;
//   gap: 0.5rem;
// }









@keyframes load-in{
  from {opacity: 0;
  transform: translateY(0.5rem)}
  to {opacity: 1;
  transform: translateY(0)}
}

@-webkit-keyframes Blue-Background-Animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes Blue-Background-Animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes Blue-Background-Animation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

@keyframes Robin-Shape-Animation {
  0% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) scale(1.2);
      opacity: 0.4;
  }
    100% {
    transform: rotate(180deg) scale(1);
      opacity: 1;
  }
}