.login-page {
  display: flex;
  height: 100%;
  
  .left, .right {
    width: 50vw;

    @media  (max-width: 1279px) {
      width:100vw;
    }
    
  }
  .left {
    background-image: linear-gradient(
      -60deg
      , var(--robin-grey-background) 50%, #f7f7f7 50%);
    position: relative;

    @media  (max-width: 1279px) {
      display: none;
    }

    .login-hero {
      position: absolute;
      bottom: 5%;
      width: 100%;
      left: 5%;
      max-width: 82rem;
      animation: fadeUp 1s forwards ease;
    }
  }
  .right {
    background: var(--robin-grey-background);
    display: flex;
    align-items: center;
    justify-content: center;

    .login-container {
      width: 80%;
      background: #fff;
      display: flex;
      align-self: center;
      flex-wrap: wrap;
      padding: 4rem;
      max-width: 38rem;
      z-index: 1;
      animation: fadeDown 1s forwards ease;
      position: relative;

      @media  (max-width: 767px) {
        padding: 4rem 2rem;
      }

      .back-to-step-one-button {
        display: flex;
        align-items: center;
        position: absolute;
        top: 2rem;
        left: 2rem;

        button {
          width: 3rem;
          border-radius: 50%;
          height: 3rem;
          padding: 0.125rem 0.75rem;
          border: none;
          overflow: hidden;
          cursor: pointer;
        }
      }

      .robin-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 2.5rem;
        margin-bottom: 1rem;
      }
      .form-container {
        display: flex;
        overflow: hidden;
        
        form {
          width: 100%;
          display: flex;
          align-self: center;
          flex-wrap: wrap;
          flex-shrink: 0;
          transition: all 0.5s ease;
          visibility: initial;

          &.step-one-validated {
            margin-left: -100%;
            opacity: 0;
            visibility: hidden;
          }

          &.step-two {
            opacity: 0;
            visibility: hidden;

            ul {
              list-style-type: circle;
              line-height: 1.75;
              margin-bottom: 1.5rem;
              padding-inline-start: 1.25rem;
            }

          }

          &.step-two-starting {
            opacity: 1;
            visibility: initial;
          }
  
          .submit-reset {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
          }
        }
      }

    }
  }
}