:root {
  font-size: 16px;
  --robin-blue: #2a344f;
  --subtext: #525252;
  --robin-grey-background: rgba(43, 52, 77, 0.1);
  --robin-grey-background-solid: #EAEBED;
  --error: #FFB3B3;
  --success: #B0E2B2;
  --warning: #FFB62E;
  --information: #A5D1E4;
  --hover-highlight: rgba(230, 233, 241, 0.4);
  --electric-blue: #005AD4;
}

*, html, body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: var(--robin-blue);
  font-size: 0.875rem;
  line-height: 1.5;
}

body {
  margin: 0;

  h1 {
    font-size: 1.5rem;
    &.xl {
      font-size: 1.75rem;
      line-height: 1.2;
    }
    &.xxl {
      font-size: 2rem;
    }
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  a {
    color: var(--electric-blue);

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
  .pre-title {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3%;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .redline {
    color: #BA0000;
    text-decoration: line-through;

    &.hidden {
      display: none;
    }
  }

  main {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    // overflow-y: scroll;

    .loading-container {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .loading {
        content: "";
        position: absolute;
        border-radius: 100%;
        width: 1rem;
        height: 1rem;
        border: 0.125rem solid rgba(43, 52, 77, 0.05);
        border-left-color: #000;
        border-top-color: #000;
        animation: spin 0.6s infinite linear;
      }
    }   
  }
}

    
@keyframes spin {
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  80% {
    transform: translateY(0rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
  80% {
    transform: translateY(0rem);
  }
  100% {
    opacity: 1;
  }
}