header {
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 0.0625rem solid var(--robin-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  .left {
    display: flex;
    align-items: center;
    height: 100%;

    a {
      img {
        width: 3rem;
      }
    }

    button {
      margin-left: 1.25rem;
    }

    p {
      font-size: 1.125rem;
      font-weight: 700;
      border-left: 0.0625rem solid #e6e6e6;
      height: 100%;
      margin-block-start: 0;
      margin-block-end: 0;
      display: flex;
      align-items: center;
      margin-left: 1.25rem;
      padding-left: 1.25rem;
      flex-shrink: 0;
      text-transform: capitalize;

      &.last-edited {
        border-left: 0;
        font-size: 0.875rem;
        color: var(--subtext);
        margin-left: 0;
        font-weight: 500;
        
        @media (max-width: 1280px) {
          display: none;
        }
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

      label {
        margin-right: 0.75rem;
        color: var(--electric-blue);
        font-weight: 700;
        display: flex;
        align-items: center;
        margin-right: 0.75rem;
        cursor: pointer;
        content: "Show Clean Version";
   

      .switch {
        position: relative;
        display: inline-block;
        width: 2.75rem;
        height: 1.5rem;
        margin-left: 0.75rem;

        input { 
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .slider {
            background-color: rgba(0, 90, 212, 1);
          }

          &:checked + .slider:after {
            -webkit-transform: translateX(1.125rem);
            -ms-transform: translateX(1.125rem);
            transform: translateX(1.125rem);
          }
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(230, 233, 241, 0.4);
          box-shadow: 0px 2px 2px -1px rgba(74, 74, 104, 0.1) inset;
          -webkit-transition: .4s;
          transition: .4s;

          &.round {
            border-radius: 34px;

            &:after {
              border-radius: 50%;
            }
          }

          &:after {
              position: absolute;
              content: "";
              height: 1.125rem;
              width: 1.125rem;
              left: 0.25rem;
              bottom: 0.1875rem;
              background-color: white;
              box-shadow: 0px 5.5px 5px -3px rgba(14, 14, 44, 0.2);
              -webkit-transition: .4s;
              transition: .4s;
            }
          }
        }
      }




    button {
      margin-right: 0.75rem;

      img {
        margin-left: 0.5rem;
      }
    }

    .user-icon {
      height: 2.5rem;
      width: 2.5rem;
      justify-content: center;
      display: flex;
      align-items: center;
      font-weight: 700;
      background: #E6E9F1;
      border-radius: 50%;
      flex-shrink: 0;
    }

  }
}

#platform-switch-menu {
  
  .MuiPopover-paper {
    border: 0.0625rem solid #2A344F;
    transform: translate(0, 2.75rem) !important;
    overflow: visible;

    ul {
      padding: 0;
      position: relative;
      overflow: visible;

      &:before{
        content: "";
        position: absolute;
        left: 42%;
        top: -0.625rem;
        width: 0;
        height: 0;
        border-left: 0.625rem solid transparent;
        border-right: 0.625rem solid transparent;
        border-top: 0.625rem solid #2A344F;
        clear: both;
        transform: rotate(
        180deg
        );
      }

      &:after{
        content: "";
        position: absolute;
        left: 42%;
        top: -0.5625rem;
        width: 0;
        height: 0;
        border-left: 0.625rem solid transparent;
        border-right: 0.625rem solid transparent;
        border-top: 0.625rem solid white;
        clear: both;
        transform: rotate(
        180deg
        );
      }

      li {
        height: 2.5rem;
        padding: 0.75rem;
        font-size: 0.875rem;
        font-weight: 700;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;


        img {
          margin-right: 0.5rem;
          width: 1.25rem;
          height: 1.25rem;
        }

      }
    }
  }
}