nav {
  width: 194px;
  height: calc(100vh - 4rem);
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 5;
  border-right: 0.0625rem solid var(--robin-blue);
  background: white;
  padding: 1rem 0;
  gap: 0.25rem;
  transition: all 0.3s;

  @media (max-width: 1280px) {
    width: 3.5rem;
    overflow: hidden;
  }

  a {
    &.side-link {
      height: 2.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 2rem;
      color: var(--robin-blue);
      font-weight: bold;
      background: white;
      transition: 0.3s ease;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background: rgba(230, 233, 241, 1);
      }
      &:active, &.selected {
        background: rgba(204, 211, 228, 1);
      }
      &[disabled] {
        opacity: 0.4;
        pointer-events: none;
      }

      &.active {
        
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background: red;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          top: 0.5rem;
          left: 3rem;
        }
      }

      @media (max-width: 1280px) {
        justify-content: center;
        padding: 0 0.5rem;
      }

      span {
        flex-shrink: 0;
        @media (max-width: 1280px) {
          display: none;
        }
      }
      img {
        margin-right: 0.5rem;

        @media (max-width: 1280px) {
          margin-right: 0;
        }
      }
    }
  }

}