.error-container {
  flex-wrap: wrap;
  width: 100%;

  .flex-row {
    display: flex;
    align-items: center;

    &.vertical {
      flex-wrap: wrap;
    }

    label {
      width: 5rem;
      margin-right: 1rem;
    }  
    
    select {
      background: #fff;
      border: 0.0625rem solid var(--robin-blue);
      border-radius: 0.25rem;
      width: 100%;
      height: 2.5rem;
      display: flex;
      align-items: center;
      padding: 0 0.75rem;
      background: url(https://raw.githubusercontent.com/sumnerbhandal/font-repo/02a2679cbd33ae6e9e91ce033fbf9f58e5d9f693/fi-chevron-down.svg) no-repeat 100% #fff;
      -webkit-appearance: none;
      background-position-x: calc(100% - 0.5rem);
      background-size: 1.5rem;
      cursor: pointer;
      max-width: 25rem;
    }


  }
  p {
      margin-left: 6rem;
      margin-block-start: 0.5rem;
      margin-block-end: 0;
  }
}
