.page {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  .editor {
    width: 100%;
    display: flex;
    justify-content: flex-end;


    article {
      width: 47.5rem;
      padding: 3.75rem;
      display: flex;
      flex-wrap: wrap;
      text-align: justify;
      text-justify: inter-word;
      margin: 0 auto;

      &:focus-visible {
        outline: 0;
        // background: var(--hover-highlight);
      }


      h1 {
        width: 100%;
        text-align: left;
      }

      span.placeholder {
        background: #E6E9F1;
      }

      h1, h2, h3, p {
        // &:focus-visible {
        //   outline: 0;
        //   // background: var(--hover-highlight);
        // }
      }
      ol {

          counter-reset: item;
          margin-bottom: 1.5rem;

          li {
            display: block;
            margin-bottom: 0.625rem;
            margin-top: 0.625rem;
            position: relative;

            &:before {
              content: counters(item, ".") "";
              counter-increment: item;
              left: -1.25rem;
              position: absolute;
            }

            li {
              &:before {
                left: -2rem;
              }
            }
        }  
        &[type=a] {

          counter-reset: list;
          li {
  

            &:before {
              counter-increment: list;
              content: "(" counter(list, lower-alpha) ")";
              left: -1.75rem;
              padding-right: 1rem;
            }
          }
        }
      }
    }
    aside {
      width: 23rem;
      border-left: 0.0625rem solid var(--robin-blue);
      transition: all 0.3s ease-in-out;
      opacity: 0;
      margin-right: -23rem;
      padding: 0.75rem;

      &.open {
        opacity: 1;
        margin-right: 0.5rem;
      }


      .playbook-settings-container {
        display: flex;
        width: 100%;
        padding: 0 0.75rem;
        flex-wrap: wrap;
        
        .playbook-settings {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;

          .button-container {
            display: flex;
            align-items: center;

            button {
              margin: 0;
  
              img {
                margin-left: 0.5rem;
              }
  
              &.text {
                margin-left: 1rem;
  
                img {
                  margin-left: 0;
                }
              }
            }

          }
        }

        input {
          width: 100%;
        }

      }

    }
  }
}
