.page {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  .editor {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 4rem);

    &.query {
      
      width: calc(100% - 194px);
      margin-left: auto;

      @media (max-width: 1280px) {
        width: calc(100% - 3.5rem);
      }

      aside {
        width: 23rem;
        border-left: 0.0625rem solid var(--robin-blue);
        transition: all 0.3s ease-in-out, height 0s;
        opacity: 1;
        padding: 0.75rem;
        position: relative;
        overflow-y: scroll;
        height: calc(100vh - 4rem);
        right: 0;
        background: #fff;
        padding-bottom: 4rem;
        flex-shrink: 0;
  
        &.open {
          opacity: 1;
          right: 0;
  
          @media (max-width: 1280px) {
            right: 0;
            opacity: 1;
          }
        }
      }
    }
    

    .article-container {
      display: flex;
      width: calc(100%);
      transition: all 0.3s ease-in-out;
      overflow: auto;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 5rem;

      &.playbook-open {
        width: 100% !important;
        flex-grow: 1;

        @media (max-width: 1280px) {
          width: 100%;
        }
      }

      .article-selector-button {
        position: absolute;
        left: 4rem;
        height: auto;
        background: black;
        width: 5rem;
      }

      .document-toolbar-container {
        width: 100%;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 2;
        transition: 0.3s ease;

        p {
            flex-shrink: 0;
            // margin-right: 0.5rem;
          }

        .document-toolbar {
          width: 47.5rem;
          padding: 3.75rem;
          flex-wrap: wrap;
          text-align: justify;
          padding-bottom: 0;

          &.history {

          }

          hr {
            border: 0;
            border-right: 0.0625rem solid var(--robin-blue);
          }


          .action-container {
            border-bottom: 0.0625rem solid var(--robin-blue);
            display: flex;
            justify-content: space-between;

            button {
              &.secondary {
                border: 0;
                border-radius: 0.25rem;
                padding: 0 0.5rem;
    
                img {
                  margin-right: 0.5rem;
                }
              }
            }
          }

          .footer-header-button-container {
            display: flex;
            gap: 0.5rem;

            .error-container .flex-row select {
              width: 9.5rem;
            }
          }

          .modify-toolbar {
            display: flex;
            gap: 0.5rem;

            &.disabled {
              opacity: 0.4;
              pointer-events: none;
            }

            .format-container {
              display: flex;
            }
          }

        }

      }

      .toolbar-format-panel {
        display: flex;
        position: absolute;
        top: -1rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 5rem;

        .modify-toolbar {
          background: red;

          &.disabled {
            opacity: 0.4;
            pointer-events: none;
          }
          .format-container {
            display: flex;
            border: 0.0625rem solid var(--robin-blue);
            border-radius: 5rem;
            padding: 0.1875rem 0.75rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
            padding-right: 0.5rem;
          }
        }



        button {
          &.secondary {

            &.insert {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              padding-left: 0.75rem;
            }
          }
        }
      }

      .header-section-container {
        width: 100%;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 6.3125rem;
        background: #fff;
        z-index: 1;

        &.top {
          top: 6.8125rem;
        }

        
        &:focus-visible {
          outline: 0;
        }

        &.footer {
          bottom: 0;
          position: fixed;
          height: 3.375rem;
          top: unset;
          width: auto;
      }
        

        .header-section {
          animation: headerIn 1s ease;
          width: 40rem;
          padding: 1rem 0;
          flex-wrap: wrap;
          text-align: justify;
          transition: 0.5s ease-in;
          height: auto;
          border-bottom: 0.0625rem dotted var(--robin-blue);
          overflow-y: auto;
          background: white;
          position: relative;

          &:focus-visible {
            outline: 0;
          }
          
          &.scrolled {
            height: 3.375rem;
            overflow: hidden;
            transition: 0.6s ease-out;
          }


          &.footer {
            top: unset;
            bottom: 0;
            position: fixed;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-top: 0.0625rem dotted var(--robin-blue);
            height: auto;
            transition: 0.2s ease-in;
            width: 40rem;

            &.scrolled {
              height: 3.375rem;
              overflow: hidden;
              transition: 0.3s ease-out;
            }
          }

          .placeholder {
            padding: 0 0.25rem;
            position: absolute;
            right: 0;
            text-align: right;
            top: 1rem;
            border: 0.0625rem dotted;
            border-radius: 0.25rem;
            background: #E6E9F1;
            z-index: 1;
            cursor: pointer;
          }

          .header-contents {
            position: relative;
            width: 80%;
          }

        }

      }



      article {
        width: 47.5rem;
        padding: 3.75rem;
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        text-justify: inter-word;

        &:focus-visible {
          outline: 0;
          // background: var(--hover-highlight);
        }


        h1 {
          width: 100%;
          text-align: left;
        }

        p {
          word-break: break-word;
        }

        span.placeholder {
          background: #E6E9F1;

          &.hidden {
            background: #fff;
          }
        }

        span.labelled {
          position: relative;
          transition: 0.3s ease;

          &.active {
            background: #CCD3E4;
          }
          
          button.label {
            position: absolute;
            left: -2.875rem;
            height: 2rem;
            width: 2rem;
            bottom: 0.75rem;
            justify-content: center;

            img {
              width: 1.25rem;
              height: 1.25rem;
              pointer-events: none;
            }

            &.hidden {
              display: none;
            }
          }
        }
        .redline, .blueline {
          position: relative;
          color:  #BA0000;
          
          &:after {
            // position: absolute;
            // right: calc(100% - 640px);
            // background: #BA0000;
            // width: 0.125rem;
            // height: 100%;
            // content: "";
            // bottom: 0;
            // color:  #BA0000;
            // text-decoration: line-through;
          }

          &.new-content-example {
            &:after {
              right: calc(100% - 700px);
            }
          }

          &.deleted-content-example {

            &:after {
            right: calc(100% - 620px);
            }
          }
        }

        .blueline {
          color: #005AAF;
          text-decoration: underline;

          &.hidden {
            color: var(--robin-blue);
            text-decoration: none;

            &:after {
              display: none;
            }
          }
        }

          .preview-label-menu {
            position: absolute;
            bottom: 2.75rem;
            left: -2.875rem;

            button {
              filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
              transition: 0.4s ease;
              animation: loadIn 0.4s ease;

            }

            .label-button-group {
              display: flex;
              margin-bottom: 0.75rem;
              filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));

              button {
                flex-shrink: 0;
                filter: none;

                &:nth-child(1) {
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  border-right: 0.0625rem solid #fff;
                }
                &:nth-child(2) {
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                }

                img {
                  margin-right: 0.625rem;
                }
              }
          }
        }
        ol {

            counter-reset: item;
            margin-bottom: 1.5rem;

            li {
              display: block;
              margin-bottom: 0.625rem;
              margin-top: 0.625rem;
              position: relative;

              &:before {
                content: counters(item, ".") "";
                counter-increment: item;
                left: -1.25rem;
                position: absolute;
              }

              li {
                &:before {
                  left: -2rem;
                }
              }
          }  
          &[type=a] {

            counter-reset: list;
            li {
    

              &:before {
                counter-increment: list;
                content: "(" counter(list, lower-alpha) ")";
                left: -1.75rem;
                padding-right: 1rem;
              }
            }
          }
        }
      }
    }

    aside {
      width: 23rem;
      border-left: 0.0625rem solid var(--robin-blue);
      transition: all 0.3s ease-in-out, height 0s;
      opacity: 0;
      padding: 0.75rem;
      // position: fixed;
      overflow-y: scroll;
      height: calc(100vh - 4rem);
      margin-right: -100%;
      background: #fff;
      padding-bottom: 4rem;

      &.open {
        opacity: 1;
        margin-right: 0;

        // @media (max-width: 1280px) {
        //   right: -23rem;
        //   opacity: 0;
        // }
      }

    //   #Resizable{
    //     border: 1px solid black; 
    //     height: 100%;
    //     width: 200px;
    //     position: absolute;
    //     left: 0;
    // }




      .playbook-container {
        display: flex;
        width: 100%;
        padding: 0 0.75rem;
        flex-wrap: wrap;
        
        .playbook-settings {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;

          .button-container {
            display: flex;
            align-items: center;
            height: 3rem;

            button {
              margin: 0;
  
              img {
                margin-left: 0.5rem;
              }
  
              &.text {
                margin-left: 1rem;
  
                img {
                  margin-left: 0;
                }
              }
            }

          }
        }

        input {
          width: 100%;
          border: 0;
          border-bottom: 0.0625rem solid var(--robin-blue);
          height: 2.5rem;
        }

        .playbook-accordions {
          margin-top: 1rem;

          .MuiAccordion-root {
            box-shadow: none;
            color: var(--robin-blue);
            margin-bottom: 0.25rem;

            &:before {
              background: none;
            }

            &.Mui-expanded {
              margin: 0;
            }

            .MuiAccordionSummary-root {
              min-height: 2.5rem;
              background: rgba(230, 233, 241, 0.4);
              border-radius: 2rem;
              padding: 0.5rem 0.625rem;

              &.Mui-expanded {
                margin: 0;
                background: #D6DEEF;
              }

              .MuiAccordionSummary-content {
                margin: 0;
                display: flex;
                align-items: center;

                .count {
                  width: 2rem;
                  height: 1.5rem;
                  background: white;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 1rem;
                  flex-shrink: 0;
                }

                p {
                  margin-block-start: 0;
                  margin-block-end: 0;
                  font-weight: 700;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  margin: 0 0.875rem;
                }


              }
            }

            .MuiCollapse-root {

              .MuiAccordionDetails-root {
                padding: 0;

                .recommendation, .issue {
                  padding: 0.75rem 1rem;
                  background: rgba(230, 233, 241, 0.4);
                  border-radius: 0.5rem;
                  margin-top: 0.5rem;
                  transition: all 0.3s ease;

                  &.button {
                    cursor: pointer;
                    &:hover {
                      background: #E6E9F1;
                    }
                  }

                  ul {
                    padding-inline-start: 1.125rem;
                    margin-block-start: 0.5rem;
                    margin-block-end: 0.25rem;

                    li {
                      &:not(:last-of-type) {
                        margin-bottom: 0.5rem;
                      }
                    }
                  }

                  button.live-suggestion {
                    border: 0;
                    background: none;
                    text-align: left;
                    padding: 0;
                    cursor: pointer;

                  }

                  p {
                    margin-block-start: 0;
                    margin-block-end: 0;

                    &:nth-child(n+3) {
                      margin-top: 0.5rem;
                    }

                    &.title {
                      margin-bottom: 0.25rem;
                      font-weight: 700;
                    }
                  }
                }

                .issue {
                  background: #fff;
                  margin-top: 0;
                  margin-bottom: 0.25rem;
                }

                .advisory {
                  display: flex;
                  align-items: center;
                  padding: 0 1rem;
                  margin-bottom: 1.25rem;

                  .advisory-circle {
                    width: 1.25rem;
                    height: 1.25rem;
                    border-radius: 50%;
                    border: 0.125rem solid var(--robin-blue);
                    margin-right: 0.625rem;

                    &.Green {
                      background: var(--success)
                    }

                    &.Amber {
                      background: var(--warning)
                    }

                    &.Red {
                      background: var(--error)
                    }
                  }
                  p {
                    font-weight: 700;
                    margin-block-start: 0;
                    margin-block-end: 0;
                  }
                }


              }

            }

          }

        }

      }

    }
  }
}

@keyframes loadIn {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes headerIn {
  0% {
    opacity: 0;
    background: var(--robin-grey-background);
  }
  60% {
    opacity: 1;
  }
  100% {
    background: #fff;
  }
}



.box {
  
  /* Use box-sizing so that element's outerwidth will match width property */
  box-sizing: border-box;
  
  /* Allow box to grow and shrink, and ensure they are all equally sized */
  flex: 1 1 auto;
  position: relative;
}

.handler {
  width: 0.5rem;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  height: 100%;
  background: transparent;
}