.canvas {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;

  &.query {
    width: calc(100vw - 184px);
    margin-left: auto;
    height: calc(100% - 4rem);

    transition: 0.3s ease;

    @media (max-width: 1280px) {
      width: calc(100% - 3.5rem);
    }

    .page {
      * {
        z-index: 2;
      }
    }
  }

  .page {
    width: calc(100%);
    display: flex;
    align-content: flex-start;

    @media  (min-width: 768px) {
      width: calc(100%);
    }
  }
}