.canvas {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;

  &.query {
    width: calc(100vw - 184px);
    margin-left: auto;
  }

  .page {
    width: calc(100%);

    @media  (min-width: 768px) {
      width: calc(100%);
    }
  }
}